<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the request is not for a valid file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
